.button {
  text-align: center;
  width: fit-content;
  font-size: 1.2rem;
  padding: 0.3rem 0.7rem;
  background-color: #1e7d74;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  font-family: "Fauna One", serif;
  border-radius: 4px;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
}
