.title-container {
  margin: 0 auto;
  width: fit-content;
  position: relative;

  .title-section {
    font-family: "FF Enzo";
    position: relative;
    background-image: linear-gradient(
      to bottom,
      #ec982c,
      #e0a32a,
      #d4ad2d,
      #c7b736,
      #b9bf42
    );
    padding: 0.5rem;
  }
  
  .title-bg {
    width: 100%;
    height: 49px;
    background-color: #125e94;
    position: absolute;
    left: 5px;
    top: 5px;
  }
}

@media (min-width: 30rem) {
  .title-container {
    .title-bg {
      height: 52px;
    }
  }
}

@media (min-width: 50rem) {
  .title-container {
    .title-bg {
      height: 56px;
    }
  }
}

@media (min-width: 70rem) {
  .title-container {
    .title-bg {
      height: 59px;
    }
  }
}

@media (min-width: 90rem) {
  .title-container {
    .title-bg {
      height: 62px;
    }
  }
}