.App-logo {
  height: 40vmin;
}

.title-container {
  width: 260px;
  height: 270px;
  float: left;
  shape-outside: circle(48%);
  margin-right: 4rem;

  .title-background {
    width: 260px;
    height: 260px;
    position: absolute;
    margin-top: 1.5rem;
  }

  .title {
    font-family: "Fauna One", serif;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 3rem;
    margin-left: 0.3rem;
  }
}

.main-container {
  font-size: 1.5rem;

  div {
    margin-bottom: 2rem;
  }
}