.App-logo {
  height: 40vmin;
}

.title-container {
  width: 200px;
  height: 200px;
  float: left;
  shape-outside: circle(50%);
  margin-right: 1rem;

  .title-background {
    background-color: #b9bb18;
    width: 200px;
    height: 200px;
    position: absolute;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }

  .title {
    font-family: "Fauna One", serif;
    display: inline-block;
    position: relative;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    margin: 0;
  }
}

.main-container {
  font-size: 1.5rem;
}