.App-logo {
  height: 40vmin;
}

.title-container {
  width: 260px;
  height: 270px;
  float: left;
  shape-outside: polygon(
    0px 0px,
    0px 189px,
    40.61% 102.72%,
    54.93% 81.57%,
    83.61% 52.49%,
    271px 52px,
    58.98% 4.21%
  );
  margin-right: 4rem;
  margin-bottom: 0.5rem;

  .title-background {
    width: 260px;
    height: 260px;
    position: absolute;
    margin-top: 1.5rem;
  }

  .title {
    font-family: "Fauna One", serif;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 3rem;
    margin-left: 0.3rem;
  }
}

.main-container {
  line-height: 1.5rem;

  div {
    margin-bottom: 2rem;
  }
}
