.transition-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  top: 0;
  left: 0;
  background-image: radial-gradient(
      circle at 19% 90%,
      rgba(190, 190, 190, 0.04) 0%,
      rgba(190, 190, 190, 0.04) 17%,
      transparent 17%,
      transparent 100%
    ),
    radial-gradient(
      circle at 73% 2%,
      rgba(78, 78, 78, 0.04) 0%,
      rgba(78, 78, 78, 0.04) 94%,
      transparent 94%,
      transparent 100%
    ),
    radial-gradient(
      circle at 45% 2%,
      rgba(18, 18, 18, 0.04) 0%,
      rgba(18, 18, 18, 0.04) 55%,
      transparent 55%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 60%,
      rgba(110, 110, 110, 0.04) 0%,
      rgba(110, 110, 110, 0.04) 34%,
      transparent 34%,
      transparent 100%
    ),
    radial-gradient(
      circle at 68% 56%,
      rgba(246, 246, 246, 0.04) 0%,
      rgba(246, 246, 246, 0.04) 16%,
      transparent 16%,
      transparent 100%
    ),
    radial-gradient(
      circle at 71% 42%,
      rgba(156, 156, 156, 0.04) 0%,
      rgba(156, 156, 156, 0.04) 47%,
      transparent 47%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 82%,
      rgba(247, 247, 247, 0.04) 0%,
      rgba(247, 247, 247, 0.04) 39%,
      transparent 39%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 47%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 45%,
      transparent 45%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(84, 36, 210), rgb(44, 27, 154));

  .close-btn {
    position: fixed;
    right: 26px;
    top: 26px;
    width: 38px;
    height: 38px;
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
    .close-btn {
      width: 32px;
      height: 32px;
      right: 16px;
      top: 20px;
    }
  }

  .transition-title {
    background: 50% 100% / 50% 50% no-repeat
      radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: "FF Enzo";
    padding: 1rem 70px 0 70px;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;

    animation: reveal 3000ms ease-in-out forwards 200ms,
      glow 2500ms linear infinite 2000ms;

    @keyframes reveal {
      80% {
        letter-spacing: 8px;
      }
      100% {
        background-size: 300% 300%;
      }
    }
    @keyframes glow {
      40% {
        text-shadow: 0 0 8px #fff;
      }
    }
  }

  .list {
    list-style-type: none;
    margin: 1rem;
    padding: 0;

    .list-item {
      box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      margin: 0.4rem auto;
      padding: 1rem;
      max-width: 1200px;
      cursor: pointer;
      position: relative;

      &:nth-child(odd) {
        background-color: rgba(247, 247, 247, 0.3);
      }

      &:nth-child(even) {
        background-color: rgba(120, 110, 184, 0.4);
      }

      img {
        clip-path: polygon(
          0% 0%,
          100% 0%,
          100% 75%,
          75% 75%,
          75% 100%,
          50% 75%,
          0% 75%
        );
        width: 100%;
        max-width: 270px;
      }

      .title {
        text-transform: uppercase;
        font-size: 1.4em;
      }

      .description {
        font-style: italic;
      }

      p {
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .transition-screen {
    .desktop {
      display: none;
    }

    .mobile {
      height: calc(100% - 100px);

      .mobile-carousel {
        height: 100%;
        list-style-type: none;
        padding: 0;

        // TODO might wanna delete this
        &.reduced-height {
          .flickity-page-dots {
            bottom: 10px;
          }
        }

        .flickity-viewport {
          height: 100% !important;
        }

        .list-item {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;

          img {
            max-height: 260px;
            clip-path: polygon(
              0% 0%,
              100% 0%,
              100% 95%,
              75% 95%,
              75% 100%,
              70% 95%,
              0 95%
            );
          }
          .text-container {
            padding: 1rem 2rem 0 2rem;
            color: white;

            .title {
              text-transform: uppercase;
              font-size: 1.4em;
            }

            .description {
              font-style: italic;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .transition-screen {
    .mobile {
      display: none;
    }

    .list {
      .list-item {
        img {
          max-width: 170px;
          clip-path: polygon(
            50% 0%,
            83% 12%,
            100% 43%,
            94% 78%,
            68% 100%,
            32% 100%,
            6% 78%,
            0% 43%,
            17% 12%
          );
        }
      }

      .text-container {
        position: absolute;
        height: calc(100% - 2rem);
        top: 0;
        left: 186px;
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin-top: 0;
        }
      }
    }
  }
}
